<h1>Reviews for <%=@recipe.name%></h1>

<ul>
  <% @rating.each do |rating| %>
    <li>Stars: <%=rating.stars%>  <br>  Review: <%=rating.review %> <br> </li>
  <% end %>
</ull>

<nav class="navbar navbar-fixed-top" role="navigation">
    <a href="/recipes">Recipe Index</a> | <a href="/recipes/<%=@recipe.id%>">Return to Recipe</a>
</nav>



